- IDLE(python install)
- anaconda navigator-->jupyter notebook
- google colab

In [ ]:
### python basics
    - guido van rossum,1991
    - high level languge
    - easy learn 
    - default builtin modules,libraries
    - mozilla,insta,dropbox,netflix.....

In [1]:
print("hello world!")

hello world!

In [2]:
print("hello..students welcome to django session")

hello..students welcome to django session

In [4]:
print("hello..students welcome to django session")

hello..students welcome to django session

In [5]:
print("goodmorning"+"guys")

goodmorningguys

In [ ]:
## variable assigning
    - stores the data
    - ex:x=2  ## variable=x,data=2
        print(x)

In [14]:
x=2        #--->letters
ab12=78   #--->letters follwed with digits
# print(@45)

print(x)
print(ab12)

2
78

In [20]:
#### multiple variables with multiple values
a,b,c,d=10,20,30,40
print(d,a)
print(a)
print(c)

40 10
10
30

In [19]:
### multiple variables with single value
x=y=z=10
print(z)
print(y)

10
10

In [ ]:
## data types
    - to check whether the given data is which type
        - int
        - float
        - str

In [23]:
a=89787987987878078787
print(a)
type(a)

89787987987878078787

int

In [25]:
b=8.9
print(b)
type(b)

8.9

float

In [26]:
c="python"
print(type(c))

<class 'str'>

In [ ]:
## type conversions
    - int to float

In [30]:
x=129
y=float(x)
print(x)
print(type(x))
print(type(y))

129
<class 'int'>
<class 'float'>

In [34]:
## float to int
b=45.89
c=int(b)
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>

In [42]:
## int to str
n=67
m=str(n)
print(type(n))
print(type(m))

<class 'int'>
<class 'str'>

In [41]:
b="srikanya"
c="696"
d="9089hghg"
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'str'>
<class 'str'>

In [45]:
## str to int
s="srikanya"
t=int(s)
print(s)
print(type(s))
print(t)

ValueError: invalid literal for int() with base 10: 'srikanya'

## comments
    - singleline comment(#)(crtl+?)
    - multiline comment(''' ''')

In [48]:
a=10
print(a)

10

In [ ]:
## keywords:
    - reserversed words

In [56]:
import keyword
print(len(keyword.kwlist))

35

In [55]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
### operators in python
    - 7 opearators are available in python
        - arithmetic operators(+,-,*,/,//,%,**(pow))
        - assignment(=,+=,-+,*=,/=**=,//=...)
        - logical(and,or,not)
        - comparision(==,!=,<,>,<=,>=)
        - bitwise(AND,OR,NOT,XOR,leftshift,rightshit)
        - membership(in,notin)
        - identity(is,isnot)

In [57]:
a=12
bin(a)

'0b1100'

In [58]:
b=20
hex(b)

'0x14'

In [59]:
oct(a)

'0o14'

In [62]:
a=[10,40]
b=2
b not in a

True

In [65]:
a=78
b=90
a is not b

True

In [ ]:
### conditional stateents:
    - if--->single condition
    - else--->if it is not true
    - elif--->more than two conditions 
        ex:grades(A,B,C,D,F)
            if marks>=80-->A
            elif marks>=70-->B
            elif marks>=60--->C

In [66]:
a=10
if a==10:
    print("YES")

YES

In [68]:
a=4
b=10
if a>=b:
    print("a is gretest one")
else:
    print("b is greatest one")

b is greatest one

In [ ]:
## Input methods:
    - static 
    - dynamic
        - int
        - float
        - str

In [71]:
### int-dynamic
a=int(input("Enter your input here"))
print(a)

Enter your input here87897897980
87897897980

In [72]:
a=int(input())
print(a)

878998
878998

In [73]:
### float-dynamic
b=float(input("enter your data here"))
print(b)

enter your data here89.56
89.56

In [74]:
## str-dynamic
s=input("enter your string here")
print(s)

enter your string herepython
python

In [75]:
s=str(input("enter your string here"))
print(s)

enter your string herecourse
course

In [ ]:
## control statements(loops):
    - for
        - syntax:
            for variablename in range(startrange,endrange+1,steps):
            ex:for x in range(1,11):
    - while
        - syntax:
            while(condition):

In [79]:
for x in range(1,101):
    print(x,end="  ")

1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100

In [82]:
for x in range(1,11,2):
    print(x,end=" ")

1 3 5 7 9

In [85]:
for x in range(10,1,-2):
    print(x,end=" ")

10 8 6 4 2

In [86]:
a=4
b=2
a%b

0

In [4]:
i=1
n=10
while(i<=n):
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#### python data structures:
    - list
    - tuple
    - dictionary
    - sets

In [ ]:
### list:
    - we can store multiple data(multiple data types data)
    - list is represented with []
    - it is ordered
    - mutable(changeble)
    - it allows duplicates

In [4]:
l=[10,50,70,78,89,67,45.67,"python"]
print(l)

[10, 50, 70, 78, 89, 67, 45.67, 'python']

In [ ]:
### index()
    - starts with "0" ---[index position]
    - length starts with "1"

In [5]:
print(l)
print(len(l))
print(l[4])
print(l[7])
print(l[1])

[10, 50, 70, 78, 89, 67, 45.67, 'python']
8
89
python
50

In [ ]:
## slicing():more than one elements
    - syntax:
        list[starange:endrange+1:steps]

In [6]:
print(l)

[10, 50, 70, 78, 89, 67, 45.67, 'python']

In [8]:
print(l[0:3])
print(l[:3])
print(l[:])
print(l[::2])
print(l[::-1])

[10, 50, 70]
[10, 50, 70]
[10, 50, 70, 78, 89, 67, 45.67, 'python']
[10, 70, 89, 45.67]
['python', 45.67, 67, 89, 78, 70, 50, 10]